# macOS system files
**/.DS_Store

# Python cache and bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables files
.env
*.env

# Logs
*.log

# Ignore data, models, and artifacts directories since they are tracked by DVC
# Ignore normal data files inside data/, models/, artifacts/
data/**/*.csv
data/**/*.txt
data/**/*.parquet
models/**/*.pkl
models/**/*.pt
artifacts/**/*.pkl

# Do NOT ignore the directories themselves, so Git can traverse into them
!data/
!data/**/
!models/
!models/**/
!artifacts/
!artifacts/**/

# Do NOT ignore the DVC metafiles, we want to track these
!data/**/*.dvc
!models/**/*.dvc
!artifacts/**/*.dvc

# Keep .gitkeep files (optional) to maintain empty directories if needed
!data/.gitkeep
!models/.gitkeep
!artifacts/.gitkeep


# Optional: Keep README or important files in data folder (uncomment if needed)
!data/README.md

# VSCode settings (optional)
.vscode/

mlruns/*/
!mlruns/.gitkeep  # si quieres mantener la carpeta vacía en el repo
