# macOS system files
**/.DS_Store

# Python cache and bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables files
.env
*.env

# Logs
*.log

# Ignore data, models, artifacts, and outputs directories since they are tracked by DVC
# Ignore generated data files inside data/, models/, artifacts/, outputs/
data/**/*.csv
data/**/*.txt
data/**/*.parquet
models/**/*.pkl
models/**/*.pt
artifacts/**/*.pkl
outputs/**/*.parquet

# Do NOT ignore the directories themselves, so Git can traverse into them
!data/
!data/**/
!models/
!models/**/
!artifacts/
!artifacts/**/
!outputs/
!outputs/**/

# Do NOT ignore the DVC metafiles, we want to track these
!data/**/*.dvc
!models/**/*.dvc
!artifacts/**/*.dvc
!outputs/**/*.dvc

# Keep .gitkeep files (optional) to maintain empty directories if needed
!data/.gitkeep
!models/.gitkeep
!artifacts/.gitkeep
!outputs/.gitkeep


# Optional: Keep README or important files in data folder (uncomment if needed)
!data/README.md

# VSCode settings (optional)
.vscode/

mlruns/*/
!mlruns/.gitkeep  # si quieres mantener la carpeta vacía en el repo

src/__pycache__

# Tooling caches
.ruff_cache/
.pytest_cache/